.home {
  .carousel {
    position: absolute;
    top: 300px;
    left: 21px;
    height: 430px;
    width: 646px;
  }

  .blurb {
    position: absolute;
    top: 400px;
    left: 690px;
    height: 200px;
    width: 500px;

    p {
      font-size: 15px;
      line-height: 20px;
      text-align: center;
    }
    .award-links {
      img {
        height: 80px;
        width: 80px;
        margin-right: 20px;
      }
      .last-link {
        margin-right: 0;
      }
    }
  }

}
