<div class="nav-container">
  <div class="main-bar">

  </div>
  <div class="link-box">
    <div class="left-links">
      <a href="{{site.baserul}}/">
      <div class="nav-link home-link">
        Home
      </div></a>
      <a href="{{site.baseurl}}/about/">
      <div class="nav-link about-link">
        About
      </div></a>
      <a href="{{site.baseurl}}/services/">
      <div class="nav-link services-link">
        Services
      </div></a>
    </div>
    <div class="right-links">
      <a href="">
      <div class="nav-link portfolio-link">
        Portfolio
      </div></a>
      <a href="">
      <div class="nav-link news-link">
        News
      </div></a>
      <a href="">
      <div class="nav-link contact-link">
        Contact Us
      </div></a>
    </div>
  </div>
  <div class="logo-box">
  </div>
</div>
