.footer {
  position: absolute;
  margin-bottom: 10px;
  top: 861px;
  width: 1200px;
  height: 28px;

  border-top: 2px solid #ffffff;

  p {
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
    color: #ffffff;
  }
}
